.remove-button {
  margin-top: 4px;
}

.college-wrapper {
  width: 100%;
}

.form-wrapper {
  width: 100%;
}

.successModal .ant-modal-confirm-content {
  font-size: 32px;
}

.success {
}

.good {
}

.nice {
}

.notGood {
}
