.remove-button {
  margin-top: 4px;
}

.college-wrapper {
  width: 100%;
}

.form-wrapper {
  width: 100%;
}

.successModal .ant-modal-confirm-content {
  font-size: 32px;
}

.modalText {
  text-align: center;
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}

.modalGpa {
  text-align: center;
  width: 120px !important;
  height: 120px !important;
  line-height: 120px !important;
  font-size: 32px !important;
  font-family: 'Abel', sans-serif !important;
  font-weight: 600 !important;
  margin: 0 auto !important;
  display: block !important;
}
